{% extends "global/Page.html" %}
{% block content %}

<p class="mb-4 fs-5">2回目のタスクです。再度、各営業戦略について選択してください。</p>

<form method="post">
  <table class="table">
    <thead>
      <tr>
        <th>タスク番号</th>
        <th>選択肢</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <td>{{ task.index }}</td>
        <td>
          <label>
            <input type="radio" name="choice_second{{ task.index }}" value="Safe" required>
            {{ task.safe_text_second }}
          </label>
          <br>
          <label>
            <input type="radio" name="choice_second{{ task.index }}" value="Risky" required>
            {{ task.risky_text_second }}
          </label>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-primary">次へ</button>
</form>

{% endblock %}